*, *::before, *::after {
	box-sizing: border-box;
}
body {
	width: 100%;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	min-width: 1260px;
}
header {
	display: flex;
	padding: 0 158px;
	height: 100px;
	align-items: center;
	box-shadow: 0px 1px 4px 0px #00000040;
	color: rgba(31, 46, 53, 0.8);
	justify-content: center;
}
header ul {
	display: inline-flex;
}
header ul li {
	list-style: none;
	margin: 0 50px;
}
header ul li:hover {
	color: #85171A;
	cursor: pointer;
}
.flex-it p {
	line-height: 29px;
	font-size: 20px;
}
.content {
	display: flex;
	justify-content: center;
	margin-top: 51px;
	height: 500px;
	margin-bottom: 100px;
}
.making-it {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.making-it p {
	width: 440px;
	color: #30444E;
}
.button {
	font-size: 19.6px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px 0px #00000040;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 36px;
	background: #EE4248;
	width: 161px;
	padding: 12px 32px;
	height: 53px;
	color: white;
	text-decoration: none;
}
.small-btn {
	font-size: 18px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px 0px #00000040;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 36px;
	background: #EE4248;
	width: 119px;
	padding: 8 16px;
	height: 42px;
	color: white;
	text-decoration: none;
}
.button:hover, .small-btn:hover {
	background: #85171A;
}
.red {
	color: #EE4248;
}
.making-it h1 {
	width: 545px;
	font-size: 48px;
}
.making-it img {
	height: 380px;
}
.content .image img {
	display: flex;
}
.welcome {
	margin-top: 95px;
	margin-left: 85px;
	width: 454px;
}
.background {
	background: #F7F7F7;
	height: 570px;
}
.welcome p {
	line-height: 27px;
}
.card {
	width: 320px;
	margin: 0 50px;
}
.card p {
	font-size: 18px;
	line-height: 27px;
	width: 305px;
}
.pre-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.change {
	margin-left: 10px;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.float-that img {
	height: 100px !important;
}
.height {
	flex-direction: row;
	margin-top: 120px;
	height: 190px;
	width: 1150px;
	margin: 0 auto;
	display: flex;
}
.reduce p {
	margin: 0;
	line-height: 37px;
}
footer {
	display: flex;
	justify-content: center;
	background: #EE4248;
	height: 64px;
	color: white;
	align-items: center;
}